openai=1.41.0
sentence_transformers=3.0.1
faiss-cpu=1.8.0.post1
pillow=10.4.0
python-bidi=0.6.0
flask=3.0.3
werkzeug=3.0.3
assemblyai=0.32.0
requests=2.32.3
tensorflow=2.17.0
keras=3.5.0
pandas=2.2.2
tf-keras=2.17.0